html, body{
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}
a{
  color:inherit;
  text-decoration: none;
}
a:visited{
  color:inherit;
}

.slider-container {
  height:80% !important;
}

/* @media only screen and (max-width: 1000px){
  .footerBanner{
     flex-direction: row !important;
     flex-wrap:wrap; 

  }
} */