html, body{
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}
a{
  color:inherit;
  text-decoration: none;
}
a:visited{
  color:inherit;
}

.slider-container {
  height:80% !important;
}

.ytp-chrome-top,
.ytp-show-cards-title, 
.ytp-pause-overlay, 
.html5-endscreen
{
  display: none !important;
  visibility: hidden !important;
  transform: translateX(100%) !important;
}
.ytp-pause-overlay-controls-hidden .ytp-pause-overlay {
  display: none !important;
  visibility: hidden !important;
  transform: translateX(100%) !important;
}